div.header {
  background: none repeat scroll 0 0 #5A73AD;
  color: #FFFFFF;
  margin-bottom: 1em;
  padding: 0.6em;
  text-align: right;
  box-shadow: 0px 3px 5px #DDD;
  margin-bottom: 3em;
}

div.header {
  color: white;
}

.strong {
  font-weight: bolder;
  font-size: 1.1em;
}

.caution {
  color: red;
}

.notice {
  border-radius: 5px;
}

.important-name {
  font-size: 1.2em;
}

label {
  padding-right: 0.8em;
}

.fake-button {
  background-color:#FCFCFC;
  border:1px solid #CCCCCC;
  cursor: pointer;
  padding: 2px 6px;
  color: #333333;
}

form {
  padding-bottom: 2em;
}

a:link:after, a:visited:after {
  content: "";
}

span.breakcrumbs a {
  text-decoration: none !important;
}

span.breadcrumb-separator {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

span.breakcrumbs {
  float: right;
  font-size: 0.9em;
}
